@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  overflow: hidden; 
}

.modal {
  background-color: rgba(0, 0, 0, 0.6);
}
.sub-div {
  overflow-y: auto;
  scrollbar-width: thin;           /* Firefox */
  scrollbar-color: #7008E7 #f1f1f1;   /* Firefox */
}

/* Chrome, Edge, Safari */
.sub-div::-webkit-scrollbar {
  width: 8px;
}

.sub-div::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 4px;
}

